@model Entities.Item

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/modern-business.css" rel="stylesheet" />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()




    <div class="d-flex flex-column">
        <div class="container-fluid">
            <div class="card shadow mb-4 " style="min-width:20%">

                <div class=" card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Editar el Item  @Model.item </h6>

                </div>

                <div class="card-body">
                    <h5 class="text-justify">
                        @Html.LabelFor(model => model.item, new { @class = "control-label col-md-2" })
                    </h5>

                    @Html.EditorFor(model => model.item, new { htmlAttributes = new { @class = "form-control" }, required = "required" })
                    @Html.ValidationMessageFor(model => model.item, "", new { @class = "text-danger" })

                    <br />
                    <h5 class="text-justify">
                        @Html.LabelFor(model => model.porcentaje, new { @class = "control-label col-md-2" })
                    </h5>

                    @Html.EditorFor(model => model.porcentaje, new { htmlAttributes = new { @class = "form-control" }, required = "required" })
                    @Html.ValidationMessageFor(model => model.porcentaje, "", new { @class = "text-danger" })
                    <br />


                    <h5 class="text-justify">
                        @Html.LabelFor(model => model.Tipo, new { @class = "control-label col-md-2" })
                    </h5>
                    @Html.DropDownListFor(model => model.Tipo.tipoItem, (IEnumerable<SelectListItem>)ViewBag.ListaCategoria, new { @class = "form-control", required = "required" })
                    @Html.ValidationMessageFor(model => model.Tipo.tipoItem, "", new { @class = "text-danger" })
                    <br />
                    <br />


                </div>
                <input type="button" class="btn btn-outline-primary " style="float:left" value="Volver" onclick="location.href='@Url.Action("Index", "Item")'" />
                <br />
                <input type="submit" value="Guardar" class="btn btn-outline-info" />



            </div>
        </div>
    </div>
}
